* {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    height: 80px;
    color: #262626;
}

.nav--border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.nav__left {
    margin: auto;
}

.nav__center {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
}

.nav__center__logo img:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.nav__center__areaName {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav__center__areaName__text {
    flex: 1;
}

.nav__center__areaName__text__primaryArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.nav__center__areaName__text__secondaryArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.nav__center__areaName__compassIcon {
    font-size: 24px;
    margin: 6px;
}

.nav__center__areaName__compassIcon--spin {
    animation-name: compassSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes compassSpin {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav__right {
    margin: auto;
    align-items: center;
}

.nav__right__loginButton {
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    margin: 24px;
    border-style: solid;
    background-color: #fafafa;
    border-radius: 3px;
    border-color: #e6e6e6;
}

@media (max-width:600px) {
    body {
        width: 100%;
    }

    .nav__center__logo {
        margin: 24px;
    }

    .nav__center__areaName {
        margin: 24px 24px 24px auto;
        width: max-content;
    }

    .nav__right__loginButton {
        margin: 24px;
    }
}