* {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
}

.navBar {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    height: 80px;
    color: #262626;
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar--border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.navBar__left {
    margin: auto;
    flex: 1 10 0;
}

.navBar__center {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 600px;
    max-width: 600px;
}

.navBar__logo img:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.navBar__areaName {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navBar__text {
    flex: 1;
}

.navBar__primaryArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.navBar__secondaryArea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.navBar__compassIcon {
    font-size: 24px;
    margin: 6px;
}

.navBar__compassIcon--spin {
    animation-name: compassSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes compassSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navBar__right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 10 0;
    justify-content: flex-end;
}

.navBar__loginButton {
    width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    margin: 24px;
    border-style: solid;
    background-color: #fafafa;
    border-radius: 3px;
    border-color: #e6e6e6;
}

.navBar__loginButton:focus {
    outline: none;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

.loginModal__input {
    margin-bottom: 25px;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 0.5px solid #498fff !important;
    box-shadow: none !important;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 0;
    transition: all 150ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    color: #0043b2;
    font-weight: bold;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.navBar__dropdownMenu {
  display: none;
}

@media (max-width:600px) {
    body {
        width: 100%;
    }

    .navBar__logo {
        margin: 24px;
    }

    .navBar__areaName {
        margin: 24px 24px 24px auto;
        width: max-content;
    }

    .navBar__loginButton {
        margin: 24px;
    }
}

@media (max-width: 411px) {
  .navBar__center {
    width: 100%;
  }

  .navBar__logo {
    transform: scale(0.75);
  }

  .navBar__areaName {
    transform: scale(0.75);
    margin-right: 0;
  }

  .navBar__primaryArea {
    font-size: 15px;
  }

  .navBar__dropdownMenu {
    display: inline-block;
    margin: 0 5px 0 15px;
    border: 2px solid;
    padding: 5px;
    border-radius: 12%;
    border-color: rgb(0, 0, 0, 0.5)
  }

  .navBar__loginButton {
    display: none;
  }
}

/* Post */
.main__mid {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-right: 80px;
}

.main {
    margin-top: 100px;
}

.post--display-none {
  display: none
}

.post__header {
    display: flex;
    align-items: center;
}

#translate-icon {
    float: right;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    animation-name: shake;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: -1;
}

@keyframes shake {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(30deg);
    }

    50% {
      transform: rotate(0deg);
    }

    75% {
      transform: rotate(-30deg);
    }

    100% {
      transform: rotate(0deg);
    }
}
.post__avatar {
    width: 50px;
}

.post__image {
    width: 600px;
    height: auto;
}

.post__comment {
    display: flex;
    flex-direction: row;
}


#comment {
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    height: 40px;
    padding: 5px 5px 5px 20px;
    outline: none;
}
#plane-icon {
    float: right;
    margin-left: -40px;
    margin-top: 20px;
    color: gray;
}
