body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgba(224, 224, 224, 0.975);
    height: 80px;
    border: 1px solid #999999;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

section {
    background-color: #fafafa;
    margin: 0% 15% 0% 15%;
    height: 1000px;
}

footer {
    background-color: rgb(224, 224, 224);
}

/* navbar styling */

#login {
    display: inline-flex;
    float: right;
    margin-right: 24px;
    border: 1px solid #999999;
    height: 80px;
    width: 100px;
}

#login button {
    height: 50%;
    width: 100%;
    margin-top: 20%;
    border-radius: 5%;
    border: 2px solid #111111;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 600px;
}

#brand>img {
    height: 100%;
    width: auto;
}

#brand img:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

#brand {
    display: flex;
    margin-left: 24px;
    float: left;
    align-items: center;
    border: 1px solid #999999;
    height: 80px;
    width: 20%;
    margin-left: 0%;
}

#area {
    display: inline-flex;
    flex-direction: column;
    float: right;
    border: 1px solid #999999;
    height: 80px;
    width: 20%;
    align-items: center;
    white-space: nowrap;
}

#compass {
    display: inline-flex;
    float: right;
    border: 1px solid #999999;
    width: 28px;
    height: 80px;
    animation-name: compassSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes compassSpin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

#compass>img {
    width: 24px;
    height: 24px;
    margin-top: 28px;
    margin-left: 2px;
}

#city {
    display: inline-flex;
    width: 100%;
    float: left;
    border: 1px solid #999999;
    justify-content: center;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#city>h3 {
    margin-top: 10px;
    font-size: 18px;
}

#country {
    display: inline-flex;
    width: 100%;
    clear: left;
    border: 1px solid #999999;
    font-family: Arial, Helvetica, sans-serif;
    color: #494949;
    font-size: 20px;
    justify-content: center;
}

#country>p {
    margin-top: 10px;
    font-size: 16px
}

/* ----------------------------- */